body {
  background: white;
  color: hotpink;
  font-family: 'Poppins', sans-serif;
}

.hero-images {
  position: relative;
  width: 290px;
  height: 200px;
  margin: 2rem auto;
}

/* Grundstil för alla tre kort */
.hero-img {
  position: absolute;
  width: 140px;
  height: 160px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Vänsterkort */
.hero-img-left {
  background-image: url('/images/logistik.jpg');
  left: 0px;
  top: 20px;
  transform: rotate(-5deg);
  z-index: 1;
}

/* Mittenkort – porträtt, överst */
.hero-img-main {
  background-image: url('/images/topimg.png');
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  z-index: 2;
}

/* Högerkort */
.hero-img-right {
  background-image: url('/images/frontend.jpg');
  right: 0px;
  top: 20px;
  transform: rotate(5deg);
  z-index: 1;
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.tag {
  font-size: 12px;
  text-align: center;
  padding: 2px 6px;
  background: white;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 190px;
}