body {
  background: white;
  color: black;
  font-family: 'Poppins', sans-serif;
}

/*--- HERO ---*/
.hero-images {
  position: relative;
  width: 290px;
  height: 200px;
  margin: 2rem auto;
}

/* Grundstil för alla tre kort */
.hero-img {
  position: absolute;
  width: 140px;
  height: 160px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hero-img-left {
  background-image: url('/images/logistik.jpg');
  left: 0px;
  top: 20px;
  transform: rotate(-5deg);
  z-index: 1;
}

.hero-img-main {
  background-image: url('/images/topimg.png');
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  z-index: 2;
}

.hero-img-right {
  background-image: url('/images/frontend.jpg');
  right: 0px;
  top: 20px;
  transform: rotate(5deg);
  z-index: 1;
}

/*--- BUTTONS---*/
/* a {
  text-decoration: none;
  color: inherit;
} */


/*--- FEATURED PROJECTS ---*/
.project-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 4px;
}

.project-card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  /* ger luft runt mobilmockups */
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  max-width: 900px;
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}

.tag {
  font-size: 12px;
  text-align: center;
  padding: 2px 6px;
  background: white;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 190px;
}

.blog-post-image {
  width: 400px;
  height: 250px;
  border-radius: 12px;
}

/*--- CONTACT ---*/
.contact-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.contact-info {
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {

  /*--- HERO ---*/
  .hero-images {
    width: 490px;
    height: 260px;
  }

  /* Grundstil för alla tre kort */
  .hero-img {
    width: 230px;
    height: 260px;
  }

  .hero-img-left {
    top: 18px;
  }

  .hero-img-main {
    top: 0px;
  }

  .hero-img-right {
    top: 18px;
  }

  .project-card {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .project-card-inner {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .project-card-left .project-card-inner {
    flex-direction: row;
  }

  .project-card-right .project-card-inner {
    flex-direction: row-reverse;
  }
}